*.jpg
*.jpeg
.DS_Store
.ds_store
.vscode/

# === Объектные файлы ===
*.o
*.obj
*.gch
*.pch

# === Библиотеки (статические и динамические) ===
*.a
*.lib
*.so
*.dll
*.dylib

# === Исполняемые файлы ===
*.exe
*.out
*.app

# === Папки сборки (зависит от вашей IDE / системы сборки) ===
build/
bin/
out/
x64/
Debug/
Release/
.vs/
cmake-build-debug/
cmake-build-release/*.o
*.obj
